<section class="section clients">
  <div class="container">
    <h2>Clientes</h2>
    <div class="clients-grid">
      <img src="https://ingeocimyc.com.co/assets/pages/clients/ALCALDIA-DE-MORALES-BOLIVAR.webp" alt="Alcaldía de Morales">
      <img src="https://ingeocimyc.com.co/assets/pages/clients/alcaldia-del-tarra.webp" alt="Alcaldía del Tarra">
      <img src="https://ingeocimyc.com.co/assets/pages/clients/ALCALDIA-DE-OCANA-NDS.webp" alt="Alcaldía de Ocaña">
      <img src="https://ingeocimyc.com.co/assets/pages/clients/serpetcol.webp" alt="Serpentcol">
      <img src="https://ingeocimyc.com.co/assets/pages/clients/busbanza.webp" alt="Busbanzá">
    </div>
  </div>
</section>
